{% extends "layout.html" %}

{% block title %}
    Listado DEAS - Prevencion Muerte Subita
{% endblock %} 

{%block head %} 
    {{ super() }} 
{% endblock %} 

{% block content %} 
<div class="table-responsive col-6">
    <table class="table align-middle mb-0 bg-white caption-top">
        <caption>
            <div id="main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-dismissible fade show">
                        <p class="flash {{category}}">{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            <div class="row">
                <h4>Lista de DEAS  -  Sucursal "{{sede.nombre}}"</h4>
            </div>
        </caption>
        <table class="table table-hover table-dark">
            <tr>
                <th>Denominacion</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ultimo mantenimiento</th>
                <th>Activo</th>
                <th>Solidario</th>
                <th>Acciones</th>
            </tr>
            {% if(deas != None) %}
                {% for dea in deas %}
                <tr>
                    <td>{{dea.denominacion}}</td>
                    <td class="marca">{{dea.marca}}</td>
                    <td>{{dea.modelo}}</td>
                    <td>{{dea.ultimomantenimiento}}</td>
                    <td>
                        {% if dea.activo %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        {% if dea.solidario %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{url_for('deas.dea_mod', id = dea.id)}}" class="btn btn-warning btn-xs" >Editar</a>
                        <a href="{{url_for('eventosMant.eventos_dea', dea_id = dea.id)}}" class="btn btn-success btn-xs" >Ver Eventos</a>
                        <a href="{{url_for('deas.dea_delete', id = dea.id)}}" class="btn btn-danger btn-xs" onclick="return confirm('¿Estás seguro de eliminar el DEA?')" style="margin-left: 10px">Eliminar</a>
                        
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </table>
    <br>
    <div class="row">
        <div class="col text-center">
            <a href="{{url_for('sedes.form_editar_sede', id_sede = sede.id)}}" class="btn btn-primary btn-xs" >Volver a la Sede</a>
        </div>
        <div class="col text-center">
            <a href="{{url_for('deas.dea_new', sede_id = sede.id)}}" class="btn btn-success btn-xs" >Añadir nuevo DEA</a>
        </div>
    </div>
</div>
<script>
    var listaMarcas = document.getElementsByClassName("marca");
    var dir_Marcas = {}
    fetch('https://api.claudioraverta.com/deas/')
                .then(res => res.json())
                .then(data => {
                    data.forEach(deas => {
                      dir_Marcas[deas.id]=deas.marca;
                      console.log(deas.marca)
                    });
                    for (item of listaMarcas) {
                        item.innerText=dir_Marcas[parseInt(item.innerText)];
                    }
                }); 
</script>
{% endblock %}