<div class="card text-center mb-3">
    <div class="card-header">
      Alta Administradores Provinciales
    </div>
    <div class="card-body">
      <h5 class="card-title">Alta Administradores Provinciales</h5>
      <p class="card-text">Dar de alta un nuevo administrador provincial en el sistema</p>
      <a href="{{ url_for('super_usuario.form_usuario') }}" class="btn btn-primary">Ver</a>
    </div>
    <div class="card-footer text-muted">
      <br>
    </div>
</div>

<div class="card text-center">
  <div class="card-header">
    Ejecucion ETL
  </div>
  <div class="card-body">
    <h5 class="card-title">ETL</h5>
    <p class="card-text">Ejecutar la migracion de datos al datawarehouse</p>
    <a href="{{ url_for('super_usuario.ejecucion_etl') }}" class="btn btn-primary">Ejecutar</a>
  </div>
  <div class="card-footer text-muted">
    <br>
  </div>
</div>