{% extends "layout.html" %}

{% block title %}
    Listado Sedes Asociadas - Prevencion Muerte Subita
{% endblock %} 

{%block head %} 
    {{ super() }} 
{% endblock %} 

{% block content %} 
<div class="table-responsive col-11">
    <table class="table align-middle mb-0 bg-white caption-top">
        <caption>
            <div id="main">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-dismissible fade show">
                        <p class="flash {{category}}">{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <div class="col-5">
                    <h4>Sedes Asociadas a Entidad</h4>
                </div>
                <div class="col-5 ms-auto">
                    <div class="row">
                        <div class="col-12">
                            <form class="d-flex" method="GET" action="{{ url_for('representante.sedes_asociadas', id=id_entidad) }}">
                                <input class="form-control me-2" type="search" placeholder="Buscar por Nombre" aria-label="Buscar por Nombre" 
                                id="busquedaSede" name="busquedaSede" />
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </caption>
        <thead class="bg-light">
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Numero Edificio</th>
                <th>Flujo de Personas</th>
                <th>Superficie</th>
                <th>Personal Estable</th>
                <th>Pisos</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set contador = [0] %}
            {% for sede in sedes_asociadas %}
                <tr>
                    <td>
                        {{sede['nombre']}}
                    </td>
                    <td>
                        {{direcciones[contador[0]][0]}}
                    </td>
                    <td>
                        {{direcciones[contador[0]][1]}}
                    </td>
                    <td>
                        {{sede['flujo_personas']}}
                    </td>
                    <td>
                        {{sede['superficie']}}
                    </td>
                    <td>
                        {{sede['personal_estable']}}
                    </td>
                    <td>
                        {{sede['pisos']}}
                    </td>
                    <td>
                        {{sede['estado']}}
                    </td>
                    <td>
                        <a href="{{ url_for('solicitudes.registrar_solicitud', id_entidad=id_entidad, id_sede=sede['id']) }}" class="btn btn-primary">Administrar</a>
                    </td>
                </tr>
                {% set _ = contador.append(contador.pop() + 1) %}
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('representante.listado_entidades_existentes') }}" class="btn btn-primary">Volver</a>
    <a href="{{ url_for('sedes.form_sede', id_entidad=id_entidad) }}" class="btn btn-primary">Agregar Sede</a>
</div>
{% endblock %}