<div class="card text-center">
    <div class="card-header">
      <br>
    </div>
    <div class="card-body">
      <h5 class="card-title">Listado Entidades Existentes</h5>
      <p class="card-text">Dar de alta una nueva entidad</p>
      <a href="{{ url_for('representante.listado_entidades_existentes') }}" class="btn btn-primary">Ver</a>
    </div>
    <div class="card-footer text-muted">
      <br>
    </div>
</div>
<br>
<div class="card text-center">
  <div class="card-header">
    <br>
  </div>
  <div class="card-body">
    <h5 class="card-title">Listado de Sedes Administradas/Pendientes/Rechazadas</h5>
    <p class="card-text">Ver informacion</p>
    <a href="{{ url_for('representante.listado_sedes_solicitadas', tipo="rechazadas") }}" class="btn btn-primary">Ver</a>
  </div>
  <div class="card-footer text-muted">
    <br>
  </div>
</div>