{% extends "layout.html" %}

{% block title %}
    Solicitudes - Prevencion Muerte Subita
{% endblock %} 

{%block head %} 
    {{ super() }} 
{% endblock %} 

{% block content %} 
<div class="table-responsive col-6">
    <table class="table align-middle mb-0 bg-white caption-top">
        <caption>
            <div class="row">
                <div class="col-5">
                    <h4>Lista de Solicitudes</h4>
                </div>
            </div>
            <div class="col-5 ms-auto">
                <div class="row">
                    <div class="col-12">
                        <form
                            class="d-flex"
                            method="GET"
                            action="{{ url_for('admin_provincial.listado_solicitudes') }}"
                        >
                            <select
                                class="form-control select-input me-2"
                                aria-label="Buscar por activo"
                                name="tipo"
                                id="tipo"
                            >
                                <option value="">----Seleccione una opcion----</option>
                                <option value="Pendiente">Pendiente</option>
                                <option value="Aprobada">Aprobada</option>
                                <option value="Rechazada">Rechazada</option>
                            </select>
                            <button class="btn btn-outline-success" type="submit">
                                Buscar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </caption>
        <thead class="bg-light">
            <tr>
                <th>Administrador</th>
                <th>Sede</th>
                <th>Estado Solicitud</th>
                <th>Razon</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>
                        {{solicitud['Nombre']}} {{solicitud['Apellido']}}
                    </td>
                    <td>
                        {{solicitud['sede']}}
                    </td>
                    <td>
                        {{solicitud['Estado']}}
                    </td>
                    <td>
                        {% if solicitud['Estado'] != 'Pendiente' %}
                            {{solicitud['Razon']}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if solicitud['Estado'] == 'Pendiente' %}
                            <a href="{{ url_for('admin_provincial.info_solicitud', id=solicitud['id_solicitud']) }}" class="btn btn-primary">Ver Mas</a>
                        {% else %}
                            Evaluada
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}