p.flash {
    width: 100%;
    padding: 5px;
}

p.flash.error {
    border: 3px solid red;
    background-color: #ff440070;
}

p.flash.success {
    border: 3px solid green;
    background-color: #acff2f70;
}

p.flash.info {
    border: 3px solid blue;
    background-color: #0000ff6e;
}