{% extends "ciudadano/layout_ciudadano.html" %}

{% block title %}
    Home - Prevencion Muerte Subita
{% endblock %} 

{%block head %} 
    {{ super() }} 
{% endblock %} 

{% block content %} 
<div class="col-6 mt-5">
    <h3>Acorde a la <a href="https://www.argentina.gob.ar/normativa/nacional/ley-27159-249563/texto">Ley 27.159</a>, se crea esta aplicación con el propósito de:</h3>
    <ol>
      <li>Facilitar el acceso a la información a la ciudadanía.</li>
      <li>Guiar en la aplicación de RCP</a></li>
      <li>Controlar el estado y uso del equipamiento médico público.</li>
      <li>Reducir el tiempo de respuesta en caso de emergencia.</li>
      <li>Concientizar sobre la problemática y los eventos de Muerte Súbita</li>
    </ol>
    <br><br>
    <h3>Información de utilidad:</h3>
    <ul>
      <li><a href="https://www.argentina.gob.ar/salud/primerosauxilios/posiciondeseguridad">Posición de recuperación</a></li>
      <li><a href="https://www.argentina.gob.ar/salud/primerosauxilios/rcp/desfibrilador">¿Que es un "DEA"?</a></li>
      <li><a href="https://www.argentina.gob.ar/salud/primerosauxilios/RCP">¿Que es "RCP"?</a></li>
      <li><a href="https://www.argentina.gob.ar/salud/primerosauxilios/botiquin">¿Que llevar en un botiquín de primeros auxilios?</a></li>
      <li><a href="https://www.argentina.gob.ar/salud/primerosauxilios/RCP/preguntas">Otras Preguntas Frecuentes</a></li>
    </ul>

</div>
{% endblock %}