<!DOCTYPE html>
<html lang="es">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
</head>

<body>
  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema de Prevencion de Muerte Subita</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>

  <div id="main" class="d-flex d-flex justify-content-center vh-100">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    <footer class="bg-dark text-center text-white">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">Grupo2</a>
      </div>
      <!-- Copyright -->
    </footer>
    {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1jqJDw8kbBpsyxI4Ry9qk759gmspKZMQ&signed_in=true&callback=initMap"></script>
  <script src="{{ url_for('static',filename='script.js') }}">
  </script>
  <script>
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      bot1 = document.getElementById("lat")
      bot2 = document.getElementById("lon")

      bot1.value = pos.lat
      bot2.value = pos.lng

    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  </script>
  <script>
    $("#enviar").on("click", function(e) {
            e.preventDefault();
            var lat = $("#lat").val();
            var lon = $("#lon").val();
            var csrf_token = "{{ csrf_token() }}";
            $.ajax({
                url: "{{url_for('ciudadanos.enviar_notificacion')}}",
                method: "POST",
                data: {
                    lat: lat,
                    lon: lon,
                    csrf_token: csrf_token
                },
                success: function(data){
                    alert("Se envio una alerta a los espacios con asistencia mas cercanos")
                },
                error: function(err){
                    console.log(err);
                }
            })
        })
  </script>
</body>

</html>