{% extends "ciudadano/layout_ciudadano.html" %}

{% block title %}
    Home - Prevencion Muerte Subita
{% endblock %} 

{%block head %} 
    {{ super() }} 
{% endblock %} 

{% block content %} 
<div class="col-6 mt-5">
    <input type="text" name="lat" id="lat" hidden>
    <input type="text" name="lon" id="lon" hidden>
    <div id="map" style="width:700px; height:500px; margin-left:80px;"></div>
</div>

<script>
    var lista_coord = {{lista_coordenadas | tojson}}
   
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat_lng = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      console.log(lat_lng)
      bot1 = document.getElementById("lat")
      bot2 = document.getElementById("lon")

      bot1.value = lat_lng.lat
      bot2.value = lat_lng.lng


    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });

    var map;  
    var markers = [];
    const LaPlata = {
        north: -34.81936536255149, //-34.81936536255149, -57.96880667574618
        south: -35.02991601497499, //-35.02991601497499, -57.950256047701615
        west: -58.14412828713677, //-34.95720890319979, -58.14412828713677
        east: -57.80657962260428, //-34.94260009885324, -57.80657962260428
    };

    function initMap() {
        // create the maps

        var lati = $("#lat").val();
        var lon = $("#lon").val();
        var centro = {lat: parseFloat(lati), lng: parseFloat(lon)}
        map = new google.maps.Map(document.getElementById('map'), {  
            zoom: 15,
            center: centro,
            restriction: {
                latLngBounds: LaPlata,
                strictBounds: false,
            } ,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        }); 
        for(i=0; i < lista_coord.length; i++){
            var ubicacion = {lat: lista_coord[i][0], lng: lista_coord[i][1]}
            addMarker(ubicacion)
        }
    }

    function addMarker(location) {
        var marker = new google.maps.Marker({  
            position: location,  
            map: map,
        });
        var information = new google.maps.InfoWindow({
            content: "<h4>Espacio obligado: Plaza Moreno</h4><br><p>Cantidad de deas " + 24 + "</p><br><p>DEA solidario: Si</p>"
        });
        marker.addListener("click", function() {
            information.open(map, marker)
        });
        markers.push(marker); 
    }

    function deleteMarkers(){
        hideMarkers();
        markers = [];
    }

    function hideMarkers(){
        setMapOnAll(null);
    }

    function setMapOnAll(map) {
        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }
</script>
{% endblock %}