{% extends "layout.html" %}

{% block title %}
    Home - Prevencion Muerte Subita
{% endblock %} 

{%block head %} 
    {{ super() }} 
{% endblock %} 

{% block content %} 
<div class="col-6 mt-5">
    {% if rol == 'Administrador Provincial' %}
        {% include 'admin_provincial/tareas_admin_provincial.html' %}
    {% elif rol == 'Super Usuario' %}
        {% include 'super_usuario/tareas_super_usuario.html' %}
    {% elif rol == 'Representante' %}
        {% include 'representante/tareas_representante.html' %}
    {% endif %}
</div>
{% endblock %}